{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Page - Peter Wenji</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type='image/x-icon'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    <link
            href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento"
            rel="stylesheet"
    />
    {#    <script src="https://kit.fontawesome.com/215f700fce.js"></script>#}

</head>
<body>
<div class="napbar">
    <nav class="napbar navbar fixed-top navbar-expand-lg navbar-fixed-top">
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item active">
                    <a class="nav-link" href="/landing">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto my-2 order-0 order-md-1 position-relative">
            <a class="inactiveLink mx-auto" href="">
                <img src="{% static 'images/logo.png' %}" class="rounded-circle" height="120" width="120">
            </a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
                    data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/experience">Experience & Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact"><span class="underline">Contact</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<h1>contact Me</h1>
<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Instagram</h4>
                    </div>
                    <div class="text">
                        <span>my photo collection.</span>
                    </div>
                    <a href="https://www.instagram.com/yungfeldt/" target="_blank">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Whatsapp</h4>
                    </div>
                    <div class="text">
                        <span>chat me via whatsapp.</span>
                    </div>
                    <a href="https://wa.me/638121769414/?text=Hi" target="_blank">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Facebook</h4>
                    </div>
                    <div class="text">
                        <span>see my profile via facebook</span>
                    </div>
                    <a href="https://www.facebook.com/peter.wenyi">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Pinterest</h4>
                    </div>
                    <div class="text">
                        <span>collection of my favorite picture</span>
                    </div>
                    <a href="https://www.pinterest.com/peterwenyi/" target="_blank">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Gmail</h4>
                    </div>
                    <div class="text">
                        <span>email me via gmail</span>
                    </div>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=pieterjake321@gmail.com" target="_blank">Learn
                        More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Github</h4>
                    </div>
                    <div class="text">
                        <span>it ain't much but it's honest work</span>
                    </div>
                    <a href="https://github.com/Canary1711" target="_blank">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h2><a href="{% url 'chat-box' %}">Chat Room</a></h2>
</div>
<div class="forms">
    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'contact:add_message' %}">
            <div class="form-group">
                {% csrf_token %}
                {{ message_form }}
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
            <br>
            <br>
            <br>
            <h3><a href="{% url 'contact:result_table' %}">List Message</a></h3>
        </form>
    </section>
    {#{% endblock %}#}
</div>
<div class="foot">
    <footer class="page-footer font-small blue pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <img src="{% static 'images/logo.png' %}" alt="logo" height="120" width="120">
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Hit me up</h5>
                    <ul class="ss list-unstyled">
                        <li>
                            <a href="https://www.facebook.com/peter.wenyi" target="_blank"
                            >Facebook</a>
                        </li>
                        <li>
                            <a
                                    href="https://mail.google.com/mail/?view=cm&fs=1&to=pieterjake321@gmail.com"
                                    target="_top"
                            >Mail</a>
                        </li>
                        <li>
                            <a href="https://wa.me/638121769414/?text=Hi" target="_blank">
                                Whatsapp
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'chat-box' %}" target="_self">Chat Room</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}" target="_self">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2019 Copyright
        </div>
    </footer>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">⇑ Top</button>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>