{% extends "layout/base.html" %}

{% block title %} Pesan dari {{ name }} {% endblock %}
{% block content %}
    <div class="forms">
    <h1>Thank You!</h1>
    <textarea readonly rows="15" class="form-control">&quot;{{ message }}&quot;-
{{ name }}
by {{ email }}
</textarea>
{% endblock %}
</div>

{% block footer %}
    <p> &copy; {{ name }} </p>
{% endblock %}