{% extends "layout/base.html" %}
{% block title %} Kumpulan pesan {% endblock %}
{% block content %}
    <div class="isi">
        <h2>Kumpulan Pesan</h2>
        <table class="pad table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Nama</th>
                <th scope="col">Email</th>
                <th scope="col">Pesan</th>
                <th scope="col">Dibuat pada</th>
            </tr>
            </thead>
            <tbody>
            {% for i in message %}
                {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
                    <tr class="warning alert-danger"> {% else %}
                    <tr class="succsess alert-success">
                {% endif %}
            <td>{{ forloop.counter }}</td>
            {#            <td>{{ j }}</td>#}
            <td>{{ i.name }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.message }}</td>
            <td>{{ i.created_date.time }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <button><a href="{% url 'logout' %}">Logout</a></button>
    </div>
{% endblock %}