{#{% load staticfiles %}#}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{ author }}">
    <!-- bootstrap csss -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type='image/x-icon'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_4.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    <link
            href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <title>
        {#        {% block title %} Lab 4 By {{ author }} {% endblock %}#}
        Chat Room
    </title>
</head>
<body>
<header>
    {% include "partials/header.html" %}
</header>
<div class="isi">
    <h1>Chat Room</h1>
        {% block chatBox %}
            <!-- content goes here -->
        {% endblock %}
</div>

<footer>
    <!-- TODO Block Footer dan include footer.html -->
    {% block footer %}
        {% include "partials/footer.html" %}
    {% endblock %}
</footer>
<button onclick="topFunction()" id="myBtn" title="Go to top">⇑ Top</button>
<!-- Jquery n Bootstrap Script -->
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
{#<script type="application/Javascript"#}
{#        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/lab_4.js' %}"></script>
</body>
</html>