{% extends "lab_4/layout/ChatBase.html" %}
{% block chatBox %}
    <!-- ChatBox Section -->
    <section name="Chatbox">
        <div class="wrapper">
            <div class="profile chat-box">
                <div class="chat-head">
                    <h2>Chat</h2>
                    <hr>
                    <img
                            src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png"
                            title="Expand Arrow" width="16">
                </div>
                <div class="chat-body">
                    <div id="chatBody" class="msg-insert">
                    </div>
                    <div class="chat-text">
                        <textarea id="textA" placeholder="Press Enter"></textarea>
                    </div>
                    <button id="btnText" type="submit" class="btn btn-primary">
                        Enter!
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}