{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Page - Peter Wenji</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type='image/x-icon'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link
            href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento"
            rel="stylesheet"
    />
</head>
<body>
<div class="napbar">
    <nav class="napbar navbar fixed-top navbar-expand-lg navbar-fixed-top">
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item active">
                    <a class="nav-link" href="/landing">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto my-2 order-0 order-md-1 position-relative">
            <a class="inactiveLink mx-auto" href="">
                <img src="{% static 'images/logo.png' %}" class="rounded-circle" height="120" width="120">
            </a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
                    data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/experience"><span class="underline">Experience & Skills</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="isi">
    <h1>Experience</h1>
    <br>
    <ul class="left-text">
        <li>
            <h2>Asisten Dosen</h2>
            <h3>STMIK LIKMI AUG 2018 - Present</h3>
            <p>Berkeja sebagai asisten dosen di pelajaran dasar pemograman 1 dan 2</p>
        </li>
        <li>
            <h2>Peserta Beling</h2>
            <h3>Beling JULY 2019 - AUG 2019</h3>
            <p>Mengikuti program beasiswa dari beling!</p>
        </li>
        <li>
            <h2>Developer Circles: Data Science by Facebook</h2>
            <p>recipient of the Track 2 from Bandung</p>
        </li>
    </ul>
    <div class="apa">
        <div class="container">
            <div class="row">
                <div class="col-md-4 border">
                    <h2>Web Development.</h2>
                    <ul>
                        <li class="no-bullet"><span class="underline">Front-End :</span>
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JavaScript</li>
                                <li>Bootstrap</li>
                                <li>React</li>
                            </ul>
                        </li>
                        <li class="no-bullet"><span class="underline">Back-End :</span>
                            <ul>
                                <li>Django</li>
                                <li>Node.js</li>
                                <li>PHP</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 border">
                    <h2>Databases.</h2>
                    <ul>
                        <li class="no-bullet"><span class="underline">Relational :</span>
                            <ul>
                                <li>MySql</li>
                                <li>PL/SQL</li>
                                <li>PostgreSQL</li>
                            </ul>
                        </li>
                        <li class="no-bullet"><span class="underline">non-Relational :</span>
                            <ul>
                                <li>MongoDB</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 border">
                    <h2>Other.</h2>
                    <ul>
                        <li class="no-bullet"><span class="underline">Java :</span>
                            <ul>
                                <li>OOP</li>
                                <li>jFrame</li>
                            </ul>
                        </li>
                        <li class="no-bullet"><span class="underline">Python :</span>
                            <ul>
                                <li>Data Science</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="foot">
    <footer class="page-footer font-small blue pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <img src="{% static 'images/logo.png' %}" alt="logo" height="120" width="120">
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Hit me up</h5>
                    <ul class="ss list-unstyled">
                        <li>
                            <a href="https://www.facebook.com/peter.wenyi" target="_blank"
                            >Facebook</a>
                        </li>
                        <li>
                            <a
                                    href="https://mail.google.com/mail/?view=cm&fs=1&to=pieterjake321@gmail.com"
                                    target="_top"
                            >Mail</a>
                        </li>
                        <li>
                            <a href="https://wa.me/638121769414/?text=Hi" target="_blank">
                                Whatsapp
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'chat-box' %}" target="_self">Chat Room</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}" target="_self">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2019 Copyright
        </div>
    </footer>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">⇑ Top</button>
<script src="{% static 'js/experience.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/215f700fce.js"></script>
</body>
</html>