body {
    color: #293462;
    margin: 0;
    /*text-align: center;*/
    font-family: 'Merriweather', serif;
    padding-top: 100px;
}

h1 {
    color: #216583;
    font-size: 5.625rem;
    margin: 5px auto 0 25px;
    font-family: 'Sacramento', cursive;
}

.isi {
    background-color: #fff1c1;
    position: relative;
    padding-top: 100px;
}

h2 {
    color: #f76262;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    /*margin: 0 auto;*/
    margin: 5px auto 0 25px;
}

li {
    padding-bottom: 15px;
}

p {
    text-align: center;
    margin: 0 345px auto 100px;
}

.imga {
    position: relative;
    float: left;
    padding: 0 20px 20px 0;
}

h3 {
    color: #293462;
    font-family: 'Montserrat', sans-serif;
}

.list-icons {
    font-size: 83px;
    padding: 0 10px;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
}

.icon {
    display: inline-block;
}

.underline {
    text-decoration: underline;
}
.napbar {
    background-color: #f76262;
}

nav .navbar-nav li a {
    color: white !important;
    text-align: center;
    font-size: 1.25rem;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #f76262; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

footer {
    background-color: #fff1c1;
    color: gray;
}
