body {
    color: #293462;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    padding-top: 135px;
}

h1 {
    color: #216583;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #f76262;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #293462;
    font-family: 'Montserrat', sans-serif;
}

.pembuka {
    background-color: #fff1c1;
    position: relative;
    padding-top: 100px;
}

.profile {
    padding-bottom: 15px;
}

.isi {
    margin: 100px 0;
}

.underline {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.foto {
    border-radius: 50%;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.icon {
    color: #293462;
    margin: auto 24px;
}

.rocket {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.tree {
    width: 20%;
    height: 34%;
    float: right;
    margin-left: auto;
}

.hope {
    text-align: left;
    margin-right: 100px;
}

.napbar {
    background-color: #f76262;
}

nav .navbar-nav li a {
    color: white !important;
    text-align: center;
    font-size: 1.25rem;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

.left-text {
    text-align: left;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #f76262; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

footer {
    background-color: #fff1c1;
    color: gray;
}

.no-bullet {
    list-style: none;
}

body {
    background: #eee;
}

span {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #0062cc;
    border-bottom: 2px solid #0062cc;
}

.box {
    padding: 60px 0;
}

.box-part {
    background: #FFF;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0;
}

.text {
    margin: 20px 0;
}

.fa {
    color: #4183D7;
}

.forms{
    width: 45%;
    margin: auto;
}