* {
    padding: 0;
    margin: 0;
    font-family: 'Fira Code', serif;
}

body {
    height: 100%;
    background: #95a5a6;
}

.chat-box {
    position: absolute;
    right: 20px;
    bottom: 0;
    background: white;
    width: 300px;
    border-radius: 5px 5px 0 0;
}

.chat-head {
    width: inherit;
    height: 100%;
    background: #2c3e50;
    border-radius: 5px 5px 0 0;
}

.chat-text textarea {
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    padding: 10px;
    resize: none;
}

.chat-text textarea:active, .chat-text textarea:focus, .chat-text textarea:hover {
    border-color: royalblue;
}

.msg-send {
    background: #2ecc71;
}

.msg-receive {
    background: #3498db;
}

.msg-send, .msg-receive {
    width: 200px;
    height: 35px;
    padding: 5px 5px 5px 10px;
    margin: 10px auto;
    border-radius: 3px;
    line-height: 30px;
    position: relative;
    color: white;
}

.msg-receive:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border: 15px solid;
    border-color: transparent #3498db transparent transparent;
    left: -29px;
    top: 7px;
}

.msg-send:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border: 15px solid;
    border-color: transparent transparent transparent #2ecc71;
    right: -29px;
    top: 2.5px;
}

.msg-receive:hover, .msg-send:hover {
    opacity: .9;
}