{% load static %}
<div class="foot">
    <footer class="page-footer font-small blue pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <img src="{% static 'images/logo.png' %}" alt="logo" height="120" width="120">
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Hit me up</h5>
                    <ul class="ss list-unstyled">
                        <li>
                            <a href="https://www.facebook.com/peter.wenyi" target="_blank"
                            >Facebook</a>
                        </li>
                        <li>
                            <a
                                    href="https://mail.google.com/mail/?view=cm&fs=1&to=pieterjake321@gmail.com"
                                    target="_top"
                            >Mail</a>
                        </li>
                        <li>
                            <a href="https://wa.me/638121769414/?text=Hi" target="_blank">
                                Whatsapp
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'chat-box' %}" target="_self">Chat Room</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}" target="_self">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2019 Copyright
        </div>
    </footer>
</div>