{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{% load static %}
{#{% block header %}#}
    <div class="napbar">
        <nav class="napbar navbar fixed-top navbar-expand-lg navbar-fixed-top">
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="/landing">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto my-2 order-0 order-md-1 position-relative">
                <a class="inactiveLink mx-auto" href="">
                    <img src="{% static 'images/logo.png' %}" class="rounded-circle" height="120" width="120">
                </a>
                <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
                        data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
                <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/experience">Experience & Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact"><span class="underline">Contact</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
{#{% endblock %}#}
{#</body>#}
{#</html>#}